<mat-toolbar color="primary" class="my-nav">
  <mat-toolbar-row>
    <span>Astro Social</span>
    <span class="spacer"></span>
    <button mat-button>
      <span>Login</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="jumbotron first-banner">
  <div class="container">
    <h2>Astro Social</h2>
    <p>Make your account today and enjoy the feature with others</p>
    <button mat-raised-button color="primary" (click)="onRegisterClicked()">
      Register
    </button>
  </div>
</div>
