<mat-toolbar color="primary" class="my-nav">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-burger">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Astro Social</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">
      <span class="btn-text">Logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fullscreen class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" position="start" class="my-sidenav" color="primary">
    <div class="profile_sect">
      <img src="../../assets/images/angular.png" alt="Angular Icon" class="img-responsive angular">
      <h3>Astro Social</h3>
      <h5>Built in Angular 6</h5>
    </div>
    <button mat-button class="button-menu" (click)="openDashboard()">
      <mat-icon class="menu-ic">dashboard</mat-icon>
      Dashboard
    </button>
    <button mat-button class="button-menu" (click)="openMeteoritLands()">
      <mat-icon class="menu-ic">place</mat-icon>
      Meteorites Landing
    </button>
    <button mat-button class="button-menu" (click)="openTodayNeo()">
      <mat-icon class="menu-ic">event</mat-icon>
      Today's NEO
    </button>
    <button mat-button class="button-menu" (click)="openWeeklyNeo()">
      <mat-icon class="menu-ic">date_range</mat-icon>
      Weekly NEO
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
      <div>
        <router-outlet></router-outlet>
    <!-- Live gobal chat section -->
      <div id="live-chat">
          <header class="clearfix">
            <h4>World Chat</h4>
            <span class="chat-message-counter"></span>
          </header>
          <div class="chat">
            <div class="chat-history" id="history">
            </div> <!-- end chat-history -->
            <fieldset>
              <input id="my-input" type="text" placeholder="Type your message…" autofocus>
              <input type="hidden">
            </fieldset>
          </div> <!-- end chat -->
        </div>
        <!-- end live-chat -->
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
